node_modules
npm-debug.log
dist
.env
.env.local
.git
.gitignore
*.md
logs
combined.log
.DS_Store
*.swp
coverage
jest.config.js
.eslintrc.json
.eslintignore
.editorconfig
prettier.config.js
private
.env*
