NODE_ENV=
APP_URL=http://localhost:8080
BACKEND_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000
PORT=8080

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=atendzappy

JWT_SECRET=ALTERE_AQUI
JWT_REFRESH_SECRET=ALTERE_AQUI

REDIS_URI=redis://:senha@127.0.0.1:6379
REDIS_OPT_LIMITER_MAX=1
REGIS_OPT_LIMITER_DURATION=3000

USER_LIMIT=999
CONNECTIONS_LIMIT=999
CLOSED_SEND_BY_ME=true


VERIFY_TOKEN=whaticket

# App da Meta (Facebook Developers)
FACEBOOK_APP_ID=SEU_FACEBOOK_APP_ID
FACEBOOK_APP_SECRET=SEU_FACEBOOK_APP_SECRET



GOOGLE_CLIENT_ID=SEU_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=SEU_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=https://seudominio.com/google-calendar/oauth/callback

UAZAPI_ADMIN_TOKEN=SEU_UAZAPI_TOKEN
UAZAPI_BASE_URL=https://free.uazapi.com
UAZAPI_WEBHOOK_URL=http://localhost:8080/webhook/uazapi
