ASTERISK_PUBLIC_IP=203.0.113.10
ASTERISK_HTTP_PORT=8088
ASTERISK_RTP_START=10000
ASTERISK_RTP_END=10100
ASTERISK_STUN_SERVER=stun.l.google.com:19302

WEBRTC_EXTENSION=7001
WEBRTC_PASSWORD=change-this-webrtc-password
WEBRTC_DEFAULT_DID=5420182118

SIP_TRUNK_HOST=sip1.sipserver.com.br
SIP_TRUNK_PORT=5060
SIP_TRUNK_USERNAME=82118
SIP_TRUNK_PASSWORD=change-this-trunk-password
